Flask
Flask-SQLAlchemy
Werkzeug
Flask-WTF
Flask-Login
Flask-Migrate  
email-validator  # Flask-WTF 
Flask-bootstrap
wtforms
Flask-Migrate
flask_apscheduler
datetime
selenium
webdriver-manager