/*
Toast Framework - grid.css
*/
.wrapper {
  width: 100%;
  margin-top: 80px;
}
.wrap {
  max-width: 940px;
  padding: 10px 15px 10px 30px;
  margin: 0 auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  min-height: 600px;
}


/*
  Container for grid columns
*/
.grids {
  width: auto;
  max-width: 1000px;
  margin: 0 0 0 -1.7%; /* Adjusting for grid spacing */
  list-style: none; /* Allows using lists for grids */
 

  overflow: hidden;/* Clears floated elements */

  letter-spacing: -0.25em;  /* Fixes inline-block spacing issues */
}
.grids [class*="grid-"] {
  display: inline-block;
  margin: 0 0 0 1.7%; /* Space between grid items */
  -webkit-box-sizing: border-box;/* Includes padding and border in the element's total width and height */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top; /* Aligns grid items to the top */
  letter-spacing: 0; /* Resets letter spacing */
  padding: 15px; /* Adds padding inside grid items */
}

/* Define grid widths for different column spans */
.grid-1 {
  width: 6.15%;
}
.grid-2 {
  width: 14.583%;
}
.grid-3 {
  width: 22.917%;
}
.grid-4,
.grid-one-third {
  width: 31.25%;
}
.grid-5 {
  width: 39.583%;
}
.grid-6,
.grid-half {
  width: 47.917%;
}
.grid-7 {
  width: 56.25%;
}
.grid-8,
.grid-two-thirds {
  width: 64.583%;
}
.grid-9 {
  width: 72.917%;
}
.grid-10 {
  width: 81.25%;
}
.grid-11 {
  width: 89.583%;
}
.grid-12 {
  width: 97.917%;
  margin: 0;
}

/* Responsive adjustments for screens narrower than 700px */
@media screen and (max-width: 700px) {
  .grids {
    margin: 0;
    width: auto;
  }
  .grids [class*="grid-"] {
    display: block;
    width: auto;
    margin: 0;
  }
}
