body {
  margin: 0;
  padding: 0;
  background: #1a1a1a; /* Dark background color */
  font-family: Arial, sans-serif; /* Use Arial and sans-serif fonts */
  color: #ffffff; /* Text color set to white */
  text-align: center; /* Center text alignment */
  background-image: url(../images/photos/concert.png); /* Background image */
  background-position: center bottom 1050px; /* Position the background image */
}

.container {
  padding: 50px 20px; /* Padding for the container */
  text-align: center; /* Center text alignment */
  margin-top: 400px; /* Top margin to push content down */
}

h1 {
  font-size: 2.5em; /* Large font size for headings */
  margin-bottom: 20px; /* Space below the heading */
  color: purple; /* Purple color for headings */
}

p {
  font-size: 1.2em; /* Slightly larger font size for paragraphs */
  margin-bottom: 30px; /* Space below paragraphs */
}

.btn-group {
  display: flex; /* Use flexbox for button group layout */
  float: right; /* Align button group to the right */
}

.btn {
  padding: 10px 20px; /* Padding inside buttons */
  margin-right: 40px; /* Space to the right of buttons */
  margin-top: 15px; /* Space above buttons */
  background-color: #ffcc00; /* Button background color */
  color: #000000; /* Button text color */
  text-decoration: none; /* Remove underline from links */
  font-weight: bold; /* Bold text */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition for background color change */
}

.btn:hover {
  background-color: #ff9900; /* Darker background color on hover */
}

header {
  height: 80px; /* Fixed height for the header */
  width: 100%; /* Full width */
  position: fixed; /* Fixed position at the top */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  z-index: 9999; /* Ensure header is on top */
  background-color: #000; /* Solid black background color */
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent background */
  padding: 0 10px; /* Horizontal padding */
}

header h1 {
  padding-left: 20px; /* Padding to the left of the heading */
  font-family: "dosisbold"; /* Custom font family for the heading */
  font-weight: bold; /* Bold text */
  color: #fff; /* White text color */
  text-transform: uppercase; /* Uppercase text */
  font-size: 60px; /* Large font size */
  line-height: 80px; /* Line height to center text vertically */
  margin: 0; /* Remove default margin */
  float: left; /* Float heading to the left */
}
