html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #000000, #434343);
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 600px;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

h1 {
  font-family: "Impact", sans-serif;
  text-align: center;
  color: #ff0000;
  margin-bottom: 30px;
}

.btn-primary {
  background-color: #ff0000;
  border-color: #ff0000;
}

.btn-primary:hover {
  background-color: #cc0000;
  border-color: #cc0000;
}