<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EDM/DJ Forum</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/intro.css') }}"
    />
  </head>

  <body>
    <header>
      <h1>EDM4Life</h1>
      <div class="btn-group">
        <a href="{{ url_for('auth.register') }}" class="btn">Register</a>
        <a href="{{ url_for('auth.login') }}" class="btn">Log In</a>
      </div>
    </header>
    <div class="container">
      <h1>Welcome to EDM4Life</h1>
      <p style="max-width: 900px; margin: 0 auto; padding-bottom: 30px">
        In this forum, you can create posts to share your experiences, thoughts,
        and music recommendations, as well as browse and read posts from other
        members to discover new music and insights. You can interact with other
        members by commenting on their posts, start discussions, follow them to
        stay updated on their posts and activities. Additionally, you can
        participate in forum events and challenges to engage with the community.
        Whether you're a seasoned DJ or a music enthusiast, this forum is a
        great place to connect with like-minded individuals, share your passion
        for EDM, and discover new tracks and artists!
      </p>
      <p>Note: You must log in to enter the forum</p>
    </div>
  </body>
</html>
